
*, *:before, *:after { 
  box-sizing: border-box;
 }

 h1 {
   font-size: 18px;
   text-align: center;
   padding-top: 34px;
   padding-bottom: 24px;
   padding-right: 45px;
   color: #ffffff;
 }

 h2, span {
   font-size: 11px;
   display: inline-block;
   vertical-align: middle;
}

 h3 {
   font-size: 10px;
   color: #757575;
 }

.w3-button{
  color: white;
  float: right;
  margin-right: 5px;
}
.w3-bar{
  box-sizing: border-box;
  width: 100%;
  float:right;
  background-color: #455A64;
}
 .nav {
   position: fixed;
   top:0;
   width: 360px;
   background-color: #607d8b;
   padding-bottom: 16px;
 }

.arrow-back{
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  width: 10%;
  height: 48px;
  float: left;
  color: #ffffff;
}

 .current{
   box-sizing: border-box;
   float:right;
   margin: 10px 20px 10px 0px;
   padding-left: 5px;
   padding-top: 8px;
   height: 24px;
   width: 80%;
   background-color: #cfd8dc;
   display: inline-block;
 }

 .destination{
   box-sizing: border-box;
   margin: 14px 20px 0px 0px;
   padding-left: 5px;
   padding-top: 8px;
   float:right;
   height: 24px;
   width: 80%;
   background-color: #cfd8dc;
   display: inline-block;
 }

 .dest-icon {
   box-sizing: border-box;
   padding-top: 10px;
   padding-left: 16px;
   width: 10%;
   height: 48px;
   float: left;
   color: #ffffff;
   display: inline-block;
 }

 .direction {
   box-sizing: border-box;
   padding-left: 18px;
   padding-top: 20px;
   height: 48px;
   width: 360px;
   background-color: white;
 }

.bus-icon {
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 16px;
  width: 24px;
  height: 48px;
  float: left;
}

.content {
      box-sizing: border-box;
      height: 48px;
      overflow-y: auto;
}

.arrival-time {
      box-sizing: border-box;
      padding-top: 20px;
      padding-right: 16px;
      width: 30%;
      height: 48px;
      float: right;
}

.buses{
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 32px;
    width: 50%;
    height: 48px;
    float: left;
}

body {
  background-color: #212121;
  font-family: 'roboto',sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 360px;
}

.bus-routes{
  margin-top: 185px;
  width: 100%;
  background-color: white;
  overflow-y: auto;
}
